<?xml version="1.0" encoding="utf-8"?>
<Settings>
  <!--
    The connection string specifying the SQL Server database to use for processing.
    <ConnectionString>Data Source=dvl-test-srv.etc.cmu.edu;Initial Catalog=DigitalArchive;Integrated Security=True</ConnectionString> 
  -->
  <ConnectionString>Data Source=dvl-test-srv.etc.cmu.edu;Initial Catalog=DigitalArchive2020;User Id=dvl-process;Password=process2020;</ConnectionString>

  <!--
    The root output path for generated content.
  -->
  <BuildPath>\\dvl-vault\DigitalArchive2020</BuildPath>

  <!--
    Configuration settings for the email notifications.
  -->
  <Email>
    <!--
      The SendGrid-verified "from" address for notification emails sent by this system.
    -->
    <SenderAddress>processing@idvl.org</SenderAddress>

    <!--
      The list of email addresses to receive notification emails.
    -->
    <Recipients>
      <Address>bm3n@andrew.cmu.edu</Address>
      <Address>bryan.maher@gmail.com</Address>
    </Recipients>

    <!--
      The SendGrid API key.
    -->
    <SendGridApiKey>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</SendGridApiKey>    
    
    <!--
      Determines what types of email messages are sent. 
      Possible values: All | ErrorsOnly | None
      Default: All
    -->
    <MessageLevel>ErrorsOnly</MessageLevel>
  </Email>
  
  <!--
    Paths to external tools / APIs
  -->
  <ExternalTools>
    <!--
      Fully qualified path to where PowerShell Core 6+ binaries are installed.
    -->
    <PowerShellPath>C:\Program Files\PowerShell\7</PowerShellPath>
    
    <!--
      The fully qualified path to the directory containing the FFmpeg binaries.
    -->
    <FFmpegPath>C:\DigitalArchive\tools\ffmpeg\bin</FFmpegPath>

    <!--
      The fully qualified path to the Python binaries.
    -->
    <SpacyPath>C:\DigitalArchive\tools\spacy</SpacyPath>

    <!--
      The fully qualified path to the Java binaries.
    -->
    <JavaPath>C:\DigitalArchive\tools\java\bin</JavaPath>

    <!--
      Fully qualified path to the directory where the Stanford NER JAR files are installed.
    -->
    <SNERPath>C:\DigitalArchive\tools\stanford-ner</SNERPath>

    <!--
      Root URL to the inferential tag Firebase database.
    -->
    <FirebaseURL>https://uvalib-mobile.firebaseio.com</FirebaseURL>    
  </ExternalTools>

  <!--
    Configuration settings for the forced alignment data formatter.
  -->
  <AlignmentFormatter>
    <!--
      Large numbers of unaligned words at the end of the transcript
      are a strong indication of segmentation issues.  Unaligned word
      blocks at the tail end of the transcript will be deleted if they
      exceed this threshold.
    -->
    <MaxUnalignedTrailingWordsAllowed>3</MaxUnalignedTrailingWordsAllowed>
  </AlignmentFormatter>
  
  <!--
    Configuration settings for the captioning task
  -->
  <CaptioningTask>
    <!--
      Reverse the speaker order if the ratio of characters spoken
      by Speaker1 compared to Speaker2 exceeds this value.
    -->
    <Speaker1ToSpeaker2CharRatio>3.639593909</Speaker1ToSpeaker2CharRatio>

    <!--
      Maximum number of characters allow per cue.
    -->
    <MaxCueLength>74</MaxCueLength>
    
    <!--
      Target number of characters per cue.
    -->
    <TargetLength>42</TargetLength>
    
    <!--
      Minimum number of milliseconds a cue should be on screen.
    -->
    <MinCueDuration>1000</MinCueDuration>
    
    <!--
      Maximum number of milliseconds a cue should be on screen.
    -->
    <MaxCueDuration>6000</MaxCueDuration>
    
    <!--
      Target (optimal) duration for each cue in milliseconds.
    -->
    <TargetDuration>3500</TargetDuration>
    
    <!--
      Maximum number of lines per cue.
    -->
    <MaxCueLineCount>3</MaxCueLineCount>
  </CaptioningTask>

  <!--
    Configuration settings for the named entity resolution task.
  -->
  <EntityResolutionTask>
    <DataPath>C:\DigitalArchive\ner-input-files</DataPath>
  </EntityResolutionTask>

  <!--
    Configuration settings for the video transcoding task.
  -->
  <TranscodingTask>
    <!--
      The generated MPEG-4 web videos may differ by a small amount from the expected 
      duration calculated from the given start and end offsets. This value specifies 
      the acceptable difference in milliseconds. Values outside this range will cause 
      the process to fail. 
    -->
    <MaximumAllowableDeltaMS>150</MaximumAllowableDeltaMS>
    
    <!--
      Mapping of known input resolutions to desired output resolution.
    -->
    <ResolutionMappings>
      <!-- 320x -->
      <ResolutionMapping>
        <Source Width="320" Height="180"/>
        <Target Width="320" Height="180"/>
      </ResolutionMapping>
      <ResolutionMapping>
        <Source Width="320" Height="240"/>
        <Target Width="320" Height="240"/>
      </ResolutionMapping>
      <!-- 352x -->
      <ResolutionMapping>
        <Source Width="352" Height="240"/>
        <Target Width="320" Height="240"/>
      </ResolutionMapping>
      <!-- 480x -->
      <ResolutionMapping>
        <Source Width="480" Height="268"/>
        <Target Width="320" Height="180"/>
      </ResolutionMapping>
      <ResolutionMapping>
        <Source Width="480" Height="270"/>
        <Target Width="320" Height="180"/>
      </ResolutionMapping>     
      <ResolutionMapping>
        <Source Width="480" Height="360"/>
        <Target Width="320" Height="240"/>
      </ResolutionMapping>
      <!-- 640x -->
      <ResolutionMapping>
        <Source Width="640" Height="480"/>
        <Target Width="320" Height="240"/>
      </ResolutionMapping>
      <!-- 854x -->
      <ResolutionMapping>
        <Source Width="854" Height="478"/>
        <Target Width="320" Height="180"/>
      </ResolutionMapping>      
    </ResolutionMappings>
  </TranscodingTask>
  
  <!--
	  Configuration settings for the processing and QA review Digital Archive.
  -->
  <Processing>
    <!--
		  The name of the Azure Search service used by the HTML5 client.
	  -->
    <AzureSearchServiceName>da-processing-search</AzureSearchServiceName>

    <!--
		  The API key for the Azure Search service specified above.
	  -->
    <AzureSearchApiKey>4749028F919934D7C3E285A2CE14EFA7</AzureSearchApiKey>

    <!--
		  The name of the Azure Storage account used by the HTML5 client.
	  -->
    <AzureStorageAccountName>daprocessingstorage</AzureStorageAccountName>

    <!--
		  The API key for the Azure Storage account specified above.
	  -->
    <AzureStorageAccountKey>kqJjmynw7etLh1F/nFnWAzTIV/Ifle+sw8pfdN02A1CFMVKD1Ozo/bJXWtr4oRMAHtr1j7eWZhHZoum5gFkGpg==</AzureStorageAccountKey>

    <!--
		  The URL to the BiographyDetails page used to review the content.
	  -->
    <BiographyDetailsUrl>https://da-processing-proxy.azurewebsites.net/storiesForBio;ID=</BiographyDetailsUrl>

    <!--
		  If true, completed sessions will be automatically published to the processing test site.
	  -->    
    <AutoPublish>false</AutoPublish>

    <!--
      If true, segment tags will be imported from Firebase during AutoPublish process.
    -->
    <AutoPublishTagImport>true</AutoPublishTagImport>
  </Processing>

  <!--
	  Configuration settings for the production (live) Digital Archive web site.
  -->
  <Production>
    <!--
		  The name of the Azure Search service used by the HTML5 client.
	  -->
    <AzureSearchServiceName>da-production-search</AzureSearchServiceName>

    <!--
		  The API key for the Azure Search service specified above.
	  -->
    <AzureSearchApiKey>FFC2DB6892828B25565ED08A59F0E3DF</AzureSearchApiKey>

    <!--
		  The name of the Azure Storage account used by the HTML5 client.
	  -->
    <AzureStorageAccountName>daproductionstorage</AzureStorageAccountName>

    <!--
		  The API key for the Azure Storage account specified above.
	  -->
    <AzureStorageAccountKey>PW7OE7LTKe25ha8QeS+WdyLGLGB6lR0JqljyGCREdbVUW3quekdtk2Ffgt/DoWWki3P1HhbE4D6DRD/MhRAysA==</AzureStorageAccountKey>
  </Production>
</Settings>